<p>browseby-entity-id works!</p>
<div>
    <h3>Enter the OrgId</h3>
    <input type="number" [(ngModel)]="id">
</div>
<button (click)="getByEntityId()">Submit</button>

<form>
    <input type="button" value="Go back!" onclick="history.back()">
   </form>

<div class="container" >

    <div class="table-responsive">
    <table class="table table-bordered ">
        <thead>
            <tr>
                <th class="hidden">orgId</th>
                <th>orgName</th>
                <th>orgContactDetails</th>
                <th>orgLocation</th>
                <th>approvalStatus</th>
                <th>orgNetCapital</th>
                <th>orgEconomicRiskScore</th>
                <th>orgIndustryRiskScore</th>
                <th>orgRating</th>
                </tr>
        </thead>
        <tbody>
            <tr>
                <td >{{orgrep.orgId}}</td>
                <td>{{orgrep.orgName}}</td>
                <td>{{orgrep.orgContactDetails}}</td>
                 <td>{{orgrep.orgLocation}}</td>
                <td>{{orgrep.approvalStatus}}</td>
                <td>{{orgrep.orgNetCapital}}</td>
                <td>{{orgrep.orgEconomicRiskScore}}</td>
                <td>{{orgrep.orgIndustryRiskScore}}</td>
                <td>{{orgrep.orgRating}}</td>
            
                </tr>
            </tbody>
    </table>

