<h1>Rating Criteria for Organizations:</h1>
<p>1) The Organization applied for rating must be a Financial Organization.<br>
   2) The Financial Organization applied for rating should be an Indian Located Company.<br>
   3) The Financial Organization applied for rating should hold minimum of 30crs Net Capital.<br>
   4) The Financial Organization applied for rating should have Certified BICRA Economic Risk Score.<br>
   5) The Financial Organization applied for rating should have Certified BICRA Industry Risk Score.<br>
   6) The Rating for the Financial Organization will be provided by the Finance Team by considering all the above received information. 
     
    </p>
    <h2>What is BICRA ? 
    </h2>
    <p>BICRA stands for “Banking Industry Country Risk Assessment”. It is a methodology which gives scores to the banking/financial organization based on their Economic Risk and Industry Risk.</p>
    <input type="button" value="Click here to Register" (click)="register()" style="margin-left: 400px "><br>
    <input type="button" value="back" (click)="back()">