<div class="bgImage">
  <header><h1>Financial Orgnaization Rating System</h1><br><br></header>
  
  <!-- <h1>Welcome To  Financial Orgnaization Rating System</h1> -->
  <nav class='navbar navbar-expand navbar-light bg-light'>
      <a class='navbar-brand'></a>
      <ul class='nav nav-pills' >
        <li><a class='nav-link' routerLinkActive='active' routerLink='/welcome' style="margin-left: 87px ">Home</a></li>
         <li><a class='nav-link' routerLinkActive='active' routerLink='/user'style="margin-left: 500px " >User</a></li>
        <li><a class='nav-link' routerLinkActive='active' routerLink='/orgRep' >OrgRepresentation</a></li>
        <li><a class='nav-link' routerLinkActive='active' routerLink='/financeTeam' >Finance Team</a></li>
        
      </ul>
  </nav>
  
  <div class='container'>
  
    <router-outlet></router-outlet>
  </div>
  <footer> 
  
  </footer>
  </div>
  