<p>orgrepresentation works!</p>
<a class='nav-link' routerLinkActive='active' routerLink='/orgrepdelete' style="margin-left: 187px ">DeleteOrganization</a>
<a class='nav-link' routerLinkActive='active' routerLink='/ratingcriteria' style="margin-left: 187px ">click here to see Organization Rating Criteria</a>
<a class='nav-link' routerLinkActive='active' routerLink='/orgrepReg' style="margin-left: 187px ">click here to Register your Organization</a>
<a class='nav-link' routerLinkActive='active' routerLink='/orgrepget' style="margin-left: 187px ">get by id</a>
<div class='container'>
    <router-outlet></router-outlet>
  </div>